/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

main, article, aside, figure, footer, header, nav, section, details, summary {display: block;}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {max-width: 100%;}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: separate; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
    white-space: pre; /* CSS2 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

small {font-size: 85%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button,
input[type=button] {width: auto; overflow: visible;}

/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/

/* let's clear some floats */
.clearfix:after { content: " "; display: block; clear: both; }

* {
	box-sizing:border-box;
}



@font-face {
    font-family: 'fira_sansmedium';
    src: url('firasans-medium-webfont.woff2') format('woff2'),
         url('firasans-medium-webfont.woff') format('woff'),
         url('firasans-medium-webfont.ttf') format('truetype'),
         url('firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
header {
  background: black;
  font-size: 15px;
  padding: 10px 0 5px 0;
  font-family: 'fira_sansmedium';
  overflow: hidden;
  margin: 0 auto;
}
.floatLeft {
  color: white;
  float:left;
  margin-left: 20px;
}
.greenOn {
  color: green;
  font-weight: bold;
}
.green {
  color: green;
  font-weight: bold;
}
.greenTab {
  float: right;

}
.inGreen {
  float: right;
  width: 350px;
  margin-top: 30px;
  margin-right: 30px;
  font-weight: 10;
  font-size: 11px;
  color: grey;
  }
  .backGrey{
background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 66%, rgba(181,198,208,1) 99%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(66%, rgba(216,225,231,1)), color-stop(99%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 66%, rgba(181,198,208,1) 99%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 66%, rgba(181,198,208,1) 99%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 66%, rgba(181,198,208,1) 99%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 66%, rgba(181,198,208,1) 99%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}
  .button {
    background-color: green;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 16px;
    margin-right: 130px;
    margin-top: 50px;
}
.sitOn {
  font-size: 30px;
  font-weight: bold;
  padding-top: 70px;
  margin-left:470px;
}
.menu{
  margin-right: 20px;
}
a {
  color: white;
  text-decoration: none;
  float:right;
  margin-left: 5px;
}

.mainWidth {
  margin: 0 auto;
  overflow: hidden;
  width: 800px;
  font-family: 'fira_sansmedium';
}
.blackChair {
  height:300px;
  width: 400px;
  background-image: url("../images/black_chair.png");
  float: left;
}
.sectionWhiteBackg {
	background: white;
	width: 100%;
	margin: auto;
	}
.level {
	float: left;
	padding: 20px;
	overflow: hidden;
	width: 33.3%;
	margin-bottom: 50px;
}
.chair {
	background-image: url("../images/box1_img.jpg");
	height: 200px;
	border: 1px solid grey;
	background-position: center;
	background-size: cover;
}
.margarita {
	background-image: url("../images/box2_img.jpg");
	height: 200px;
	border: 1px solid grey;

}
.finds{
	background-color: white;
	border: 1px solid grey;
	height: 200px;
}
.findsA {

}
h2 {
	padding-top: 20px;
}
.lorem {
	padding-top: 10px;
	font-size: 12px;
	color: grey;
}
h2:after {
	content:'';
	border: 1px solid green;
	background: green;
	width: 80%;
	display:block;
	height: 5px;
}
.stripe {
	background-color: rgba(120, 109, 109, .25);
	width: 100%;
	height: 50px;
	margin-top: 100px;
	padding: 10px 0 5px 5px;
}
.greenPasek {
	border: 1px solid green;
	background: green;
	width: 50%;
	height: 5px;
}
.sectionGreyBackg {
	background: rgb(214, 209, 209);
	width: 100%;
	margin: auto;
	height: 650px;
	}

	h4{
		padding-top: 30px;
		font-size: 30px;
		color: grey;
	}
	h4:after {
		content:'';
		border: 1px solid green;
		background: green;
		width: 200px;
		display:block;
		height: 5px;
	}
	.thirtyThree {

		padding-bottom: 50px;
		padding-top: 80px;

		width: 100%;
		display: flex;
		flex-direction: row;

	}
	.tłoKolor {
		background: white;
		height: 450px;
		border: 1px solid grey;
		text-align: center;
		width: 32%;
		margin: 10px;
	}
	.circle {
	border-radius:50%;
	border:1px solid grey;
  display:block
}
.circle1 {
	width:50px;
	height:50px;
	background:white;
	position:relative;
  margin: 0 auto;
  top: calc(-50% + 200px);
}
.circle2 {
	width:25px;
	height:25px;
	background:grey;
	position:absolute;
	top:calc(50% - 12.5px);
	left:calc(50% - 12.5px);
}
	.stripeA{
		margin: 0 auto;
		color: green;
	}
	.stripeB{
		background: white;
		color: grey;
		border-radius: 50%;
		border: 1px solid grey;
		height: 100px;
		width: 100px;
		margin: 10px auto;
	}
	.contPrize{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-top: 20px;
	}
	.prize{
		font-size: 35px;

	}
	.prizeUnder{
		font-size: 12px;
		margin-top: -10px;

	}
	.stripeC {
		background-color: rgba(120, 109, 109, .50);
		width: 100%;
		height: 50px;
		font-size: 20px;
		color: grey;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.stripeD{
		background-color: rgba(130, 120, 120, .25);
		width: 100%;
		height: 50px;
		margin-bottom: 100px;
		font-size: 20px;
		color: grey;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.stripeE {
		background-color: green;
    border: none;
    border-radius: 10%;
    color: white;
    text-decoration: none;
    font-size: 16px;
		width: 50%;
		height: 30px;
		padding: 5px;
		margin: 0 auto;
	}




	/* drugi prostokat */

.backgroundA{
	background-color: green;
}
	.circleA {
	border-radius:50%;
	border:1px solid green;
  display:block
}
.circleA1 {
	width:50px;
	height:50px;
	background:green;
	position:relative;
  margin: 0 auto;
  top: calc(-50% + 200px);
}
.circleA2 {
	width:25px;
	height:25px;
	background:white;
	position:absolute;
	top:calc(50% - 12.5px);
	left:calc(50% - 12.5px);
}
	.stripeAA{
		margin: 0 auto;
		color: white;
		background-color: green;
	}
	.stripeBB{
		background: white;
		color: green;
		border-radius: 50%;
		border: 1px solid grey;
		height: 100px;
		width: 100px;
		margin: 10px auto;
	}
	.contPrizeA{
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding-top: 20px;
	}
	.prizeA{
		font-size: 35px;

	}
	.prizeUnderA{
		font-size: 12px;
		margin-top: -10px;

	}
	.stripeCC {
		background-color: white;
		width: 100%;
		height: 50px;
		font-size: 20px;
		color: grey;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.stripeDD{
		background-color: grey;
		width: 100%;
		height: 50px;
		font-size: 20px;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.stripeDDplusOne{
		background-color: white;
		width: 100%;
		height: 50px;
		margin-bottom: 50px;
		font-size: 20px;
		color: grey;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.stripeEE {
		background-color: white;
    border: none;
    border-radius: 10%;
    color: green;
    text-decoration: none;
    font-size: 16px;
		width: 50%;
		height: 30px;
		padding: 5px;
		margin: 0 auto;

	}
/* trzeci prostokat */
.stripeAAA{
	margin: 0 auto;
	color: green;
}
.stripeBBB{
	background: white;
	color: grey;
	border-radius: 50%;
	border: 1px solid grey;
	height: 100px;
	width: 100px;
	margin: 10px auto;
}

.stripeCCC {
	background-color: rgba(120, 109, 109, .50);
	width: 100%;
	height: 50px;
	font-size: 20px;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;

}
.stripeDDD{
	background-color: rgba(130, 120, 120, .25);
	width: 100%;
	height: 50px;

	font-size: 20px;
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}
.stripeEEE {
	background-color: green;
	border: none;
	border-radius: 10%;
	color: white;
	text-decoration: none;
	font-size: 16px;
	width: 50%;
	height: 30px;
	padding: 5px;
	margin: 0 auto;
}
 .stripeDplus{
	 background-color: rgba(120, 109, 109, .50);
	 width: 100%;
	 height: 50px;
	 font-size: 20px;
	 color: grey;
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }
 .stripeDplusPlus{
	 background-color: white;
	 width: 100%;
	 height: 50px;
	 font-size: 20px;
	 color: grey;
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }



/*
FORMULARZ
*/
.sectionWhiteBackg {
	background: white;
	width: 100%;
	margin: auto;

	box-sizing: border-box;

	}
.formularz{
	display: flex;
	flex-direction: row;
}

.formLeft{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 10px;
}
input[type=text] {
    width: 100%;
    padding: 16px 20px;
    margin: 8px 0;
    box-sizing: border-box;
		border: 1px solid green;
}
#textareaBottom {
		padding: 12px 20px;
		margin: 8px 0;
    width: 100%;
    height: 165px;
    box-sizing: border-box;
    border: 1px solid green;
	}
	.formRight{
		display: flex;
		flex-direction: column;
		align-content: space-around;

		width: 38%;
		margin: 10px;

	}
	#redChair{
		width: 200px;
		height: 150px;
		margin-left: 30px;
	}
#submitBottom{
	width: 100%;
	background-color: green;
	border: 1px solid green;
	height: 50px;
	border-radius: 10%;
	color: white;
	font-size: 20px;
	margin-top: 50px;
}

.squaredTwo {
  width: 28px;
  height: 28px;
	border: 1px solid green;
	margin-top: 10px;
}

.footer{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.copyright{
	font-size: 12px;
	color: grey;
	margin-top: 10px;
}
.images{
	padding-left: 140px;
}
